[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded

[submodule "meta-freescale"]
	path = meta-freescale
	url = https://github.com/Freescale/meta-freescale

[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git

[submodule "meta-freescale-distro"]
	path = meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "meta-python2"]
	path = meta-python2
	url = https://git.openembedded.org/meta-python2
