[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = rocko
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = rocko
[submodule "meta-dr-fsl"]
	path = meta-dr-fsl
	url = ssh://bitbucket.datarespons.com:7999/no_imx/meta-dr-fsl.git
	branch = master
[submodule "meta-freescale"]
	path = meta-freescale
	url = ssh://git@bitbucket.datarespons.com:7999/no_imx/meta-freescale.git
	branch = rocko-dr
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = rocko
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = master
[submodule "meta-dr-system"]
	path = meta-dr-system
	url = ssh://bitbucket.datarespons.com:7999/no_imx/meta-dr-system.git
	branch = rocko
