[Unit]
Description=Set hostname using nvram
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mxxf1-hostname
ExecStartPost=/bin/systemctl disable mxxf1-hostname.service
SuccessExitStatus=1
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
